/*Main cotainer*/
.container {
    margin-top: 15px;
    padding: 25px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container > div {
    flex: 1;
    }

/*Contact division*/
.contact {
    padding: 1rem;
    background-color: #1b263b;
    color: white;
    height: 90vh;
    max-width: 300px;
    border-radius: 1.5rem;
    align-items: center;
    position: sticky;
    top: 20px;
    flex: 1 1 200px;
}

/*About me division*/
.aboutMe {
    padding: 1rem;
    background-color: #1b263b;
    color: white;
    height: 130vh;
    border-radius: 1.5rem;
    flex: 2 1 700px;
    max-width: 900px;
}

/*Skills division*/
.skills {
    padding: 1.5rem;
    background-color: #1b263b;
    color: white;
    height: 90vh;
    max-width: 300px;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    top: 20px;
    flex: 1 1 200px;
}


.logo {
    padding: 1.5rem;
    transform: translateY(30px);
    width: 250px;
    max-width: 100%;
    height: 250px;
    border-radius: 15%;
    text-align: center;
    display: block; margin: 0 auto;
}

/*Proyects of aboutMe division*/
.projectsDescription{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 30px;
    margin-top: -35px;
    }

.projects{
    text-align: center;
}

.project1 {
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
    display: flex;          
    flex-direction: column;
    align-items: center;
}

.project1:hover {
    transform: scale(1.1);
}

.digitalClockGitLink {
    height: 65px;
    width: 200px;
    border-radius: 1rem;
    background-color: #0d1b2a;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
}

.digitalClockGitLink:hover {
    transform: scale(1.1);
}


.project2{
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
    display: flex;          
    flex-direction: column;
    align-items: center;
}

.project2:hover{
    transform: scale(1.1);
}

.digitalCalculatorGitLink {
    height: 65px;
    width: 200px;
    border-radius: 1rem;
    background-color: #0d1b2a;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
}

.digitalCalculatorGitLink:hover {
    transform: scale(1.1);
}


.project3{
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
    display: flex;          
    flex-direction: column;
    align-items: center;
}

.project3:hover{
    transform: scale(1.1);
}

.digitalQRMakerGitLink {
    height: 65px;
    width: 200px;
    border-radius: 1rem;
    background-color: #0d1b2a;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
}

.digitalQRMakerGitLink:hover {
    transform: scale(1.1);
}


.project4{
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
    display: flex;          
    flex-direction: column;
    align-items: center;
}

.project4:hover{
    transform: scale(1.1);
}


.project5{
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
    display: flex;          
    flex-direction: column;
    align-items: center;
}

.project5:hover{
    transform: scale(1.1);
}


.project6{
    background-color: #415A77;
    color: #fff;
    height: 370px;
    width: 200px;
    border-radius: 1.2rem;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    transition-duration: 300ms;
}

.project6:hover{
    transform: scale(1.1);
}

.language {
    width: 100px;
    height: auto;
}

/*Skills section*/
.htmlcss {
    transform: translateY(-50px);
    width: 300px;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;
}

.js {
    transform: translateY(-50px);
    width: 100px;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;
}

.csharp {
    transform: translateY(-50px);
    width: 60px;
    padding: 1rem;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;
}

.git {
    transform: translateY(-50px);
    width: 65px;
    padding: 1rem;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;  
}

.unity{
    transform: translateY(-50px);
    width: 63px;
    padding: 1rem;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;
}

.swift{
    transform: translateY(-50px);
    width: 67px;
    padding: 1rem;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;
}

.github {
    transform: translateY(-50px);
    width: 65px;
    padding: 1rem;
    height: auto;
    background-color: #0d1b2a;
    border-radius: 1.5rem;
    user-select: none;  
}

/*Contact information section*/
.info1 {
    background-color: #27994A;
    text-align: center;
    border-radius: 1.5rem;
    height: 60px;
    transition-duration: 300ms;
    user-select: none;
}

.info1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.info2 {
    background-color: #162e4b;
    text-align: center;
    border-radius: 1.5rem;
    height: 60px;
    transition-duration: 300ms;
    user-select: none;
}

.info2:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.info3 {
    background-color: #fff;
    text-align: center;
    border-radius: 1.5rem;
    height: 60px;
    transition-duration: 300ms;
    user-select: none;
}

.info3:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.info4 {
    background-color: #fff;
    text-align: center;
    border-radius: 1.5rem;
    height: 60px;
    transition-duration: 300ms;
    user-select: none;
}

.info4:hover{
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: underline none;
}

h1 {
    transform: translateY(20px);
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-family: sans-serif;
    transform: translateX(20px);
}

h4 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h5{
    font-family: sans-serif;
    text-align: center;
}

p {
    font-size: 22px;
    font-family: sans-serif;
    max-width: 700px;
    margin-left: 30px;
}

b {
    font-family: sans-serif;
}

span {
    color: #778DA9;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;
}
